html {
	font-size: 14px;
}

@media (min-width: 768px) {
	html {
		font-size: 16px;
	}
}

@media (min-width: 992px) {
	html {
		font-size: 18px;
	}
}

@media (min-width: 1200px) {
	html {
		font-size: 20px;
	}
}

.font-1 {
	font-family: 'Georgia', serif;
}

.font-2 {
	font-family: 'Raleway', sans-serif;
}

p {
	font-size: .9rem;
}

h2 {
	font-size: 1.35rem;
}

h1 {
	font-size: 1.8rem;
	margin-top: 0;
}

.navigation {
	border-radius: none;
	background-color: rgba(0, 0, 0, .75);
	height: 3rem;
	width: 100%;
	position: fixed;
	top: 0;
	z-index: 111;
}

.tabs {
	color: white;
	text-align: center;
	font-size: 1rem;
	width: 17%;
	height: 3rem;
	line-height: 3rem;
	box-sizing: border-box;
}

#logo {
	color: white;
	text-align: center;
	height: 3rem;
	line-height: 3rem;
	font-size: 1.5rem;
	letter-spacing: .2rem;
	float: left;
	box-sizing: border-box;
}

@media (min-width: 768px) {
	.tabs {
		width: 135px;
	}

	.float-right {
		float: right;
	}

	.right-text {
		text-align: right;
	}
}

.tabs-ul {
	display: inline-block;
	width: 100%;
	padding: 0;
}

.navigation li {
	list-style-type: none;
	display: inline-block;
}

.navigation li.active, .navigation li:hover {
	border-bottom: 4px solid white;
}

/*.home-img {
	width: 100%;
	height: auto;
}*/

body { 
  background: url(../images/squairy_light.png) repeat; 
}

.banner {
	background-color: rgba(255, 255, 255, .75);
}

#landing-text {
	padding: 3rem;	
}

#headshot {
	height: 200px;
	margin: 0 auto;
	background-image: url(../images/headshot.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position-x: 50%;
	background-position-y: 0%;
}

#home {
	padding-top: 4rem;
}

.no-pad {
	padding: 0
}

.icon img {
	height: 3em;
}

.section {
	margin: 1.5rem 0;
}

.description {
	background-color: rgba(0, 0, 0, .75);
	color: white;
	height: 100%;
	width: 100%;
	padding: 50px 20px 20px 20px;
	margin: 0;
	display: none;
}

.project {
	height: 30vh;
	margin-bottom: 1rem;
}

@media (min-width: 768px) {
	.project {
		height: 40vh;
	}
}

.project:hover div.description{
	display: block;
}

.modal-content {
	border-radius: 0;
}

.main-img {
	width: 75%;
	height: auto;
	margin: 25px auto 0 auto;
	padding: 0;
}

@media (min-width: 525px) {
	.main-img {
		width: 400px;
	}
}

.desktop-img {
	width: 75%;
	height: auto;
	margin: 25px auto;
	border: 1px solid rgba(0, 0, 0, .75);
	box-shadow: 3px 3px 3px rgba(0, 0, 0, .75);
}

@media (min-width: 525px) {
	.desktop-img {
		width: 375px;
	}
}

.mobile-img {
	width: 38%;
	height: auto;
	margin: 25px auto;
	border: 1px solid rgba(0, 0, 0, .75);
	box-shadow: 3px 3px 3px rgba(0, 0, 0, .75);
}

@media (min-width: 525px) {
	.mobile-img {
		width: 185px;
	}
}
.close-btn {
	float: right;
	background-color: rgba(0, 0, 0, 0);
	border: 0;
	outline: 0;
	font-size: 2em;
}

.site-btn{
	width: 75%;
	height: auto;
	margin: 0 auto 25px auto;
	background-color: orange;
	outline: none;
	border: none;
	color: white;
}

.home-btn {
	background-color: rgba(0, 0, 0, .75);
	outline: none;
	border: none;
	color: white;
	font-size: 1rem;
	padding: 10px;
	margin: 25px;
}

@media (min-width: 525px) {
	.site-btn {
		width: 400px;
	}
}

.icon-list {
	padding: 0;
	margin-top: 1rem;
}

/*.home-icon {
	list-style-type: none;
	display: inline-block;
	width: 25%;
}*/

.contact-icon {
	list-style-type: none;
	display: inline-block;
	width: 6rem;
}

.contact-list {
	margin: 1rem 0;
	padding: 0;
}
.contact-list a {
	color: black;
	text-decoration: none;
}

.about-img {
	height: 3rem;
}

.vmg-img {
	width: 200px;
}

a.about-link {
	color: black;
	text-decoration: none;	
}

#portfolio {
	padding: 3rem;
}

.giphy-embed {
	width: 75%;
}

@media (min-width: 525px) {
	.giphy-embed {
		width: 400px;
	}
}














