.font-1 {
	font-family: 'Georgia', serif;
}

.font-2 {
	font-family: 'Raleway', sans-serif;
}

.container {
}

.navigation {
	border-radius: none;
	background-color: rgba(0, 0, 0, .75);
	height: 45px;
}

.tabs {
	color: white;
	text-align: center;
	font-size: 3vw;
	width: 17%;
	height: 45px;
	line-height: 45px;
	box-sizing: border-box;
}

.logo {
	float: left;
	font-weight: 800;
	width: auto;
	padding: 0 20px;
}

.tabs:hover, {
	border-bottom: 4px solid white;
}

@media (min-width: 525px) {
	.tabs {
		width: 90px;
		font-size: 14px;
	}

	.logo {
		font-size: 20px;
		width: auto;
	}

	.float-right {
		float: right;
	}

	.right-text {
		text-align: right;
	}
}

.tabs-ul {
	display: inline-block;
	width: 100%;
	padding: 0;
}

.navigation li {
	list-style-type: none;
	display: inline-block;
}

.navigation li.active, .navigation li:hover {
	border-bottom: 4px solid white;
}


.home-img {
	width: 100%;
	height: auto;
}

body { 
  background: url(../images/squairy_light.png) repeat; 
}

.red {
	border: 1px solid red;
}

.blue {
	border: 1px solid blue;
}

.banner {
	margin: 50px 0;
	background-color: white;

}

.no-pad {
	padding: 0;
}

.project {

	height: 150px;
	padding: 0;
	margin: 10px 0;
}

@media (min-width: 525px) {
	.project {
		height: 300px;
	}
}

.description {
	background-color: rgba(0, 0, 0, .75);
	color: white;
	height: 100%;
	width: 100%;
	padding: 50px 20px 20px 20px;
	margin: 0;
	display: none;
}

.project:hover div.description{
	display: block;
}

.modal-content {
	border-radius: 0;
}

.main-img {
	width: 75%;
	height: auto;
	margin: 25px auto 0 auto;
	padding: 0;
}

@media (min-width: 525px) {
	.main-img {
		width: 400px;
	}
}

.desktop-img {
	width: 50%;
	height: auto;
	margin: 25px;
	border: 1px solid rgba(0, 0, 0, .75);
	box-shadow: 3px 3px 3px rgba(0, 0, 0, .75);
}

@media (min-width: 525px) {
	.desktop-img {
		width: 250px;
	}
}

.mobile-img {
	width: 25%;
	height: auto;
	margin: 25px;
	border: 1px solid rgba(0, 0, 0, .75);
	box-shadow: 3px 3px 3px rgba(0, 0, 0, .75);
}

@media (min-width: 525px) {
	.mobile-img {
		width: 125px;
	}
}
.close-btn {
	float: right;
	background-color: rgba(0, 0, 0, 0);
	border: 0;
	outline: 0;
	font-size: 2em;
}

.site-btn{
	width: 75%;
	height: auto;
	margin: 0 auto 25px auto;
	background-color: orange;
	outline: none;
	border: none;
	color: white;
}

@media (min-width: 525px) {
	.site-btn {
		width: 400px;
	}
}

.icon-list {
	padding: 0;
	margin-top: 25px;
}

.icon {
	list-style-type: none;
	display: inline-block;
	width: 25%;
}

.icon img {
	height: 3em;
}

