<footer class="footer font-2">
	<div class="container">
		<div class="row">	
			<div class="col-xs-12 col-sm-6">
				<h3>Collaborate</h3>
				<p>Reach out if you would like to work together:</p>
				<a class="footer-link" href="mailto:samofrench@gmail.com" target="_blank"><i class="fa fa-envelope" aria-hidden="true"></i></a>
			</div>
			<div class="col-xs-12 col-sm-6">
				<h3>Connect</h3>
				<p>Via LinkedIn or GitHub:</p>
				<a class="footer-link" href="https://www.linkedin.com/in/sam-french-85076083" target="_blank"><i class="fa fa-linkedin-square" aria-hidden="true"></i></a>
				<a class="footer-link" href="https://github.com/samofrench" target="_blank"><i class="fa fa-github-square" aria-hidden="true"></i></a>
			</div>
		</div>
		<div class="row text-center">
			<br>
			<p class="font-2">&copy; Sam French 2016</p>
		</div>
	</div>
</footer>