<nav class="navigation" role="navigation">
<div class="font-2">
  <ul class="right-text tabs-ul">
    <a href="/#!/"><li class="tabs logo">Sam French 
    </li></a>
    <a href="/#!/about"><li class="tabs">About</li></a>
    <a href="/#!/portfolio"><li class="tabs">Portfolio</li></a>
    <a href="/#!/blog"><li class="tabs">Blog</li></a>
    <a href="/#!/contact"><li class="tabs">Contact</li></a>
<!--             <li class="dropdown tabs" uib-dropdown>
      <a href="#" class="dropdown-toggle" data-toggle="dropdown" uib-dropdown-toggle>Dropdown<b class="caret"></b></a>
      <ul class="dropdown-menu">
        <li><a href="#">Action</a></li>
        <li><a href="#">Another action</a></li>
        <li><a href="#">Something else here</a></li>
        <li><a href="#">Separated link</a></li>
      </ul>
    </li> -->
  </ul>
</div>
</nav> 