<div class="container">
	<div class="row banner text-center">
		<h1 class="font-1">Error Code 404</h1>
		<h3 class="font-2">Page not found!</h3>
		<iframe src="//giphy.com/embed/RjoLWhQBFEcHS" width="480" height="270" frameBorder="0" class="giphy-embed" allowFullScreen></iframe><p><a href="http://giphy.com/gifs/RjoLWhQBFEcHS">via GIPHY</a></p>
<!-- 		<p class="font-2">Is there something you are looking for? Problem with the site? Contact me using the links below!</p>
 -->		<a href="/#!/"><button class="font-2 home-btn"><i class="fa fa-home"></i> Home</button></a>
	</div>
</div>