<div class="container">
	<div class="row banner">
		<h1 class="font-1 text-center">About Me</h1>
		<div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 text-center">
			<a href="https://generalassemb.ly/" target="_blank" class="about-link">
				<img src="../images/about/ga.png" class="about-img">
				<h3 class="font-1">General Assembly</h3>
			</a>
			<h4 class="font-2"><i class="fa fa-globe"></i> Seattle, WA</h4>
			<h4 class="font-2">2015</h4>
			<p class="font-1">I learned to build full-stack web applications at General Assembly in their 12-week, immersive web development course.  </p>
		</div>
		<div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 text-center">
			<a href="http://vmghealth.com/" target="_blank" class="about-link">
				<img src="../images/about/vmg.jpg" class="vmg-img">
				<h3 class="font-1">VMG Health</h3>
			</a>
			<h4 class="font-2"><i class="fa fa-globe"></i> Nashville, TN</h4>
			<h4 class="font-2">2013-2015</h4>
			<p class="font-1"></p>
		</div>
		<div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 text-center">
			<a href="http://www.vanderbilt.edu/" target="_blank" class="about-link">
				<img src="../images/about/vanderbilt.png" class="about-img">
				<h3 class="font-1">Vanderbilt University</h3>
			</a>
			<h4 class="font-2"><i class="fa fa-globe"></i> Nashville, TN</h4>
			<h4 class="font-2">2009-2013</h4>
			<p class="font-1"></p>
		</div>
		<div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 text-center">
			<a href="http://www.campagawam.org/" target="_blank" class="about-link">
				<img src="../images/about/agawam.jpg" class="about-img">
				<h3 class="font-1">Camp Agawam</h3>
			</a>
			<h4 class="font-2"><i class="fa fa-globe"></i> Raymond, ME</h4>
			<h4 class="font-2">2007-2015</h4>
			<p class="font-1"></p>
		</div>

	</div>
</div>
