<div class="container">
	<div class="row banner">
		<div class="col-xs-12 text-center">	
			<h1 class="font-1">Contact</h1>
			<p class="font-1">If you would like to work together, know more about any of my portfolio projects, or if you have any questions, please contact me.</p>
			<ul class="font-2 contact-list">
				<a href="mailto:samofrench@gmail.com" target="_blank"><li class="icon contact-icon"><img src="../images/icons/mail.svg"> Email</li></a>
				<li class="icon contact-icon"><a href="https://www.linkedin.com/in/sam-french-85076083" target="_blank"><img src="../images/icons/linkedin.svg"> LinkedIn</a></li>
				<li class="icon contact-icon"><a href="https://github.com/samofrench" target="_blank"><img src="../images/icons/github.svg"> GitHub</a></li>
			</ul>
		</div>
	</div>
</div>