<div class="container">
	<div class="row banner">
		<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 text-center">
			<h1 class="font-1">Sam French</h1>
			<h3 class="font-2">Web Developer</h3>
			<p class="font-1">I am a Seattle-based web developer who works in full-stack and back-end applications. I want to build software and use the web to solve big problems. Some areas that I'm interested in are clean energy and the environment, health, education, and more. I have experience in economics, mathematics, healthcare, and outdoor eduction.</p>
			<div class="skills">
				<h3 class="font-2 webdev">Skills</h3>
				<p class="font-2">Javascript, Java, Ruby on Rails, Node.js, Express.js, Angular.js, SQL, PostgreSQL, MongoDB, jQuery, HTML5, CSS3, D3.js, Git/GitHub</p>
			</div>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 no-pad">
			<img src="images/headshot.jpg" class="img-responsive headshot">
		</div>
	</div>
	<div class="row banner">
		<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 text-center">	
			<h1 class="font-1">Contact</h1>
			<p class="font-1">If you would like to work together, know more about any of my portfolio projects, or if you have any questions, please contact me.</p>
		</div>
		<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
			<ul class="font-2 contact-list">
				<a href="mailto:samofrench@gmail.com" target="_blank"><li class="icon contact-icon"><img src="../images/icons/mail.svg"> Email</li></a>
				<li class="icon contact-icon"><a href="https://www.linkedin.com/in/sam-french-85076083" target="_blank"><img src="../images/icons/linkedin.svg"> LinkedIn</a></li>
				<li class="icon contact-icon"><a href="https://github.com/samofrench" target="_blank"><img src="../images/icons/github.svg"> GitHub</a></li>
			</ul>
		</div>
	</div>
</div>