<div id="home">
	<div class="container">
		<div class="row banner">
			<div class="col-xs-12 col-sm-6 text-left" id="landing-text">
				<h2 class="font-2 section">Web Development</h2>
				<p class="font-1">I am a Seattle-based web developer who works in full-stack applications. I want to build software and use creative thinking to solve big problems. I have experience in economics, mathematics, healthcare, and outdoor education.</p>
				<h2 class="font-2 section">Skills</h2>
				<p class="font-1">Javascript, Java, Ruby on Rails, Node.js, Express.js, Angular.js, SQL, PostgreSQL, MongoDB, jQuery, HTML5, CSS3, D3.js, Git/GitHub</p>
				<ul class="contact-list">
					<li class="icon contact-icon"><a href="mailto:samofrench@gmail.com" target="_blank"><img src="../images/icons/mail.svg"></a></li>
					<li class="icon contact-icon"><a href="https://www.linkedin.com/in/sam-french-85076083" target="_blank"><img src="../images/icons/linkedin.svg"></a></li>
					<li class="icon contact-icon"><a href="https://github.com/samofrench" target="_blank"><img src="../images/icons/github.svg"></a></li>
				</ul>
			</div>
			<div class="col-xs-12 col-sm-6" id="headshot">
			</div>
		</div>
		<div id="portfolio" class ="row">  
		  	<h1 class="font-2 section">Portfolio</h1>
		    <div class="col-xs-12 col-sm-6 col-md-4" ng-repeat="project in projects">
		        <div class="project" ng-click="open(project)" style="background: url({{project.mainImg}}) black; background-size: cover; background-repeat: no-repeat; background-position-x: 50%; background-position-y: 0%;">
					<div class="description font-2">
		            	<h3>{{project.name}}</h3>
		            	<p>{{project.technologies}}</p>
		            </div>
		        </div>
		    </div>
		</div>
	</div>
</div>